.anchor-pane {
    -fx-background-image: url("View/Image/xanhnhathon.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;      /* cover: co giãn theo cửa sổ */
    -fx-background-position: center center;
}
